@charset "UTF-8";
body, html {
  background: #f5f5f5; }

#header_nav_wrapper {
  background: #fff; }

.header_cart {
  height: 30px; }

.nav_cart {
  width: 1242px;
  height: 30px;
  background: #fff; }

.nav_cart ul {
  width: 700px;
  height: 30px;
  line-height: 30px; }

.nav_cart ul li:first-child {
  /*padding-left:0;*/ }

.nav_cart ul li {
  float: left;
  position: relative;
  margin: 0 8px; }

.nav_cart ul li:first-child:before {
  display: none; }

.nav_cart ul li:before {
  content: "";
  width: 1px;
  height: 10px;
  background: #d3d3d3;
  position: absolute;
  display: block;
  left: -8px;
  top: 10px; }

/*logo*/
#logo_cart_wrapper {
  background: #fff; }

.logo_cart {
  display: flex;
  justify-content: flex-start;
  height: 70px;
  line-height: 70px; }

.logo_cart a {
  width: 94px;
  height: 50px;
  display: block; }

.logo_cart a img {
  display: block; }

.logo_cart span {
  font-weight: 700;
  margin-left: 26px;
  font-size: 22px;
  line-height: 50px; }

.cart_title {
  margin-top: 20px;
  background: #fff;
  line-height: 40px;
  padding-left: 40px;
  color: #a4a4a4;
  height: 40px; }

.checkall {
  float: left;
  width: 150px; }

.checkall input {
  border: 0 none;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-position: -18px -129px;
  vertical-align: text-top;
  color: rgba(255, 255, 255, 0);
  cursor: default;
  font-size: 0;
  background-color: #dd686e; }

.cart_title ul {
  float: left;
  height: 40px;
  width: 970px; }

.cart_title ul li {
  float: left;
  width: 100px;
  margin-left: 30px;
  min-height: 14px;
  text-align: center; }

.cart_title ul li:first-child {
  width: 450px;
  text-align: left;
  margin-left: 0; }

/*购物车列表*/
.mate_selected_all {
  /*min-height:120px;*/ }

.mate_selected {
  background: #fff;
  padding-left: 40px;
  margin-top: 10px;
  padding-top: 20px;
  width: 1200px;
  height: 120px; }

.p_checkone {
  width: 100px;
  height: 100px; }

.p_checkone > input {
  margin-top: 30px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  border: 0 none;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-position: -18px -129px;
  vertical-align: text-top;
  color: rgba(255, 255, 255, 0);
  cursor: default;
  font-size: 0; }

.p_checkone .p-img {
  width: 78px;
  height: 78px;
  float: left;
  margin-left: 20px;
  position: relative; }

.goodPrice, #num_total, #price_total, .goodTotalPrice {
  font-size: 14px;
  font-weight: 800;
  color: #ca151e; }

.cartShowImg {
  width: 78px;
  height: 78px; }

.mate_selected ul {
  float: left;
  width: 970px;
  height: 80px;
  line-height: 80px;
  padding-left: 29px; }

.mate_selected ul li:first-child {
  width: 450px;
  text-align: left;
  margin-left: 0; }

.mate_selected ul li {
  float: left;
  width: 100px;
  margin-left: 30px;
  min-height: 14px;
  text-align: center; }

.mate_selected > ul > li > .p_del {
  cursor: pointer; }

/*加减操作*/
.p-stock {
  margin-top: 20px;
  width: 100px;
  margin-left: 10px;
  min-height: 14px;
  text-align: center; }

.p-stock-area {
  display: block;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  margin: 0 auto;
  width: 63px;
  height: 44px; }

.p-stock-area > input {
  float: left;
  width: 41px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  text-align: center;
  border: none;
  box-sizing: border-box;
  border-right: 1px solid #e2e2e2;
  color: #ca151e; }

.p-stock-btn {
  width: 22px;
  float: left; }

.p-stock-btn input:first-child {
  border-bottom: 1px solid #e2e2e2; }

.p-stock-btn input {
  background: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  width: 22px;
  height: 21px;
  line-height: 22px;
  text-align: center;
  color: #777;
  font-weight: 700; }

.p-total {
  background: #fff;
  padding-left: 40px;
  margin-top: 10px;
  padding-top: 20px;
  width: 1200px;
  height: 50px; }

.p-total > div > .del_selected {
  cursor: pointer; }

.p-total input {
  border: 0 none;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-position: -18px -129px;
  vertical-align: text-top;
  color: rgba(255, 255, 255, 0);
  cursor: default;
  font-size: 0;
  background-color: #dd686e; }

.p-total div:first-child {
  float: left; }

.p-total div:last-child {
  float: right; }

.all_total {
  margin-right: 124px; }

.all_total > span:first-child {
  margin-right: 40px; }

body .s_shop_wrap {
  /* s_shopcar go*/
  /* s_shopcar End*/
  /* s_float go*/
  /* s_float End*/
  /* s_float-title-box End*/
  /*s_shop_title go*/
  /*s_shop_title End*/
  /*s_shopcart-list go*/
  /*s_shopcart-list End*/
  /* s_shopcost-sum-box go*/
  /* s_shopcost-sum-box End*/
  /*s_shopcart-pay go*/
  /*s_shopcart-pay End*/
  /*s_new-recommend-title go*/
  /*s_new-recommend-title End*/
  /*s_new-recommend-list go*/
  /*s_new-recommend-list End*/
  /* s_section go*/
  /* s_section End*/ }
  body .s_shop_wrap .s_shopcar {
    height: 70px; }
    body .s_shop_wrap .s_shopcar .s_shopcar_cen {
      width: 1280px;
      height: 70px;
      background: #fff;
      margin: 0 auto;
      border-bottom: 1px solid #dfdfdf; }
      body .s_shop_wrap .s_shopcar .s_shopcar_cen .s_shop_p {
        width: 1220px;
        height: 44px;
        margin-top: 20px; }
        body .s_shop_wrap .s_shopcar .s_shopcar_cen .s_shop_p .s_shop_img {
          vertical-align: middle; }
        body .s_shop_wrap .s_shopcar .s_shopcar_cen .s_shop_p .s_span {
          display: inline-block;
          line-height: 44px;
          font-weight: 999;
          color: #161414;
          font-size: 16px;
          margin-left: 10px; }
        body .s_shop_wrap .s_shopcar .s_shopcar_cen .s_shop_p .s_shop_a {
          text-align: center;
          display: inline-block;
          width: 130px;
          height: 40px;
          border: 1px solid #000;
          border-radius: 30px;
          font-size: 12px;
          font-weight: 900;
          line-height: 40px;
          margin-left: 10px; }
  body .s_shop_wrap .s_shop_title {
    height: 50px;
    /*s_shop_title End*/ }
    body .s_shop_wrap .s_shop_title .s_shop_cen {
      width: 1220px;
      height: 50px;
      margin: 0 auto;
      background: #F2F2F2;
      margin-top: 5px;
      position: relative; }
      body .s_shop_wrap .s_shop_title .s_shop_cen .s_kaun {
        width: 20px;
        height: 20px;
        background: #fff;
        border: 1px solid #CCCCCC;
        border-radius: 10%;
        line-height: 20px;
        position: absolute;
        top: 14px;
        left: 25px; }
        body .s_shop_wrap .s_shop_title .s_shop_cen .s_kaun #icon1 {
          font-size: 25px;
          margin-left: -3px;
          line-height: 20px;
          background-color: blue; }
      body .s_shop_wrap .s_shop_title .s_shop_cen .s_span_quanxuan {
        position: absolute;
        top: 15px;
        left: 67px; }
      body .s_shop_wrap .s_shop_title .s_shop_cen .s_shopgoods {
        float: left;
        width: 256px;
        height: 50px;
        box-sizing: border-box;
        margin-top: 2px;
        margin-left: 256px;
        line-height: 50px; }
      body .s_shop_wrap .s_shop_title .s_shop_cen .s_goodsprice {
        float: left;
        width: 153px;
        height: 50px;
        box-sizing: border-box;
        margin-top: 2px;
        line-height: 50px; }
      body .s_shop_wrap .s_shop_title .s_shop_cen .s_shopcart-jifen {
        float: left;
        width: 204px;
        height: 50px;
        box-sizing: border-box;
        margin-top: 2px;
        line-height: 50px;
        text-align: center; }
        body .s_shop_wrap .s_shop_title .s_shop_cen .s_shopcart-jifen .s_shopcart {
          width: 12px;
          height: 12px;
          margin-top: 2px; }
      body .s_shop_wrap .s_shop_title .s_shop_cen .s_count {
        float: left;
        width: 235px;
        height: 50px;
        text-align: center;
        box-sizing: border-box;
        margin-top: 2px;
        line-height: 50px; }
      body .s_shop_wrap .s_shop_title .s_shop_cen .s_sum {
        float: left;
        width: 114px;
        height: 50px;
        box-sizing: border-box;
        margin-top: 2px;
        line-height: 50px; }
        body .s_shop_wrap .s_shop_title .s_shop_cen .s_sum .s_right_p {
          float: right; }
  body .s_shop_wrap .s_shopcart-list {
    min-height: 141px; }
    body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen {
      width: 1220px;
      height: 141px;
      margin: 0 auto;
      background: #fff;
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid #f1f1f1;
      padding-left: 65px;
      padding-top: 20px;
      box-sizing: border-box; }
      body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen .s_kaun_2 {
        width: 20px;
        height: 20px;
        background: #fff;
        border: 1px solid #CCCCCC;
        border-radius: 10%;
        line-height: 20px;
        position: absolute;
        top: 60px;
        left: 25px; }
        body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen .s_kaun_2 #icon2 {
          font-size: 28px;
          margin-left: -3px;
          line-height: 20px;
          background-color: blue; }
      body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen .s_goods_a {
        float: left;
        width: 102px;
        height: 102px;
        border: 1px solid #F2F2F2;
        text-align: center;
        overflow: hidden; }
        body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen .s_goods_a .s_goods_img {
          width: 90px;
          height: 100px; }
      body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen .s_div_shena {
        width: 129px;
        height: 81px;
        float: left; }
        body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen .s_div_shena .s_shena {
          font-size: 14px;
          color: #333;
          line-height: 17px;
          padding-left: 5px; }
          body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen .s_div_shena .s_shena .s_pshen {
            width: 256px;
            height: 33px;
            margin-left: 5px;
            box-sizing: border-box; }
      body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen .shopcart-unit-price {
        float: left;
        width: 154px;
        height: 40px;
        font-size: 14px;
        margin-left: 193px;
        margin-top: 21px;
        box-sizing: border-box; }
        body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen .shopcart-unit-price .s_red_p {
          color: red;
          font-size: 14px;
          font-family: "Fangzheng Lanting", "微软雅黑", "Simsun", "宋体", arial !important; }
      body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen .s_shopcart-jifen {
        float: left;
        margin-left: 20px;
        margin-top: 21px;
        box-sizing: border-box; }
      body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen .s_shopcart-qty {
        float: left;
        width: 235px;
        height: 49px;
        margin-left: 249px;
        margin-top: 21px;
        box-sizing: border-box; }
        body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen .s_shopcart-qty .s_qty-btn {
          text-align: center;
          display: block;
          float: left;
          width: 22px;
          height: 22px;
          border: 1px solid #918d8d; }
        body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen .s_shopcart-qty .s_qty-btn_count {
          width: 32px;
          height: 22px;
          display: block;
          float: left;
          text-align: center;
          border-top: 1px solid #918d8d;
          border-bottom: 1px solid #918d8d; }
        body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen .s_shopcart-qty .s_qty-btn_jia {
          text-align: center;
          width: 22px;
          height: 22px;
          display: block;
          float: left;
          border: 1px solid #918d8d; }
      body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen .s_shopcart-sum {
        float: right;
        margin-top: -46px; }
        body .s_shop_wrap .s_shopcart-list .s_shopcart-list_cen .s_shopcart-sum .s_xiao_p {
          color: #363d4c;
          font-weight: normal; }
  body .s_shop_wrap .s_shopcost-sum-box {
    height: 106px; }
    body .s_shop_wrap .s_shopcost-sum-box .s_shopcost-sum-box_cen {
      width: 1220px;
      height: 106px;
      margin-top: 29px;
      box-sizing: border-box;
      margin: 0 auto; }
      body .s_shop_wrap .s_shopcost-sum-box .s_shopcost-sum-box_cen .iconfont {
        font-size: 37px; }
      body .s_shop_wrap .s_shopcost-sum-box .s_shopcost-sum-box_cen .s_left {
        float: left; }
      body .s_shop_wrap .s_shopcost-sum-box .s_shopcost-sum-box_cen .s_float-right {
        float: right;
        box-sizing: border-box;
        margin-top: 22px; }
        body .s_shop_wrap .s_shopcost-sum-box .s_shopcost-sum-box_cen .s_float-right .s_top .s_money1 {
          color: blue;
          font-size: 24px;
          line-height: 24px;
          font-weight: bold; }
        body .s_shop_wrap .s_shopcost-sum-box .s_shopcost-sum-box_cen .s_float-right .s_bottom .s_money2 {
          color: blue;
          font-size: 24px;
          line-height: 24px;
          font-weight: bold; }
  body .s_shop_wrap .s_shopcart-pay {
    height: 50px; }
    body .s_shop_wrap .s_shopcart-pay .s_shopcart-pay_cen {
      width: 1220px;
      height: 50px;
      margin: 0 auto;
      background-color: #f2f2f2; }
    body .s_shop_wrap .s_shopcart-pay .s_shena .iconfont {
      font-size: 30px;
      color: blue;
      margin-top: 10px;
      line-height: 50px; }
    body .s_shop_wrap .s_shopcart-pay .s_shena .s_shenbom {
      line-height: 50px;
      margin-top: 5px; }
    body .s_shop_wrap .s_shopcart-pay .s_a_right {
      text-align: center;
      float: right;
      width: 270px;
      height: 50px;
      background: #1428A0;
      color: white;
      line-height: 50px; }
  body .s_shop_wrap .s_new-recommend-title {
    height: 85px; }
    body .s_shop_wrap .s_new-recommend-title .s_new-recommend-title_cen {
      width: 1220px;
      height: 85px;
      margin: 0 auto;
      margin-top: 37px;
      font-size: 32px;
      line-height: 86px;
      text-align: center;
      color: #333;
      font-family: "Fangzheng Lanting", "微软雅黑", "Simsun", "宋体", arial !important; }
  body .s_shop_wrap .s_new-recommend-list {
    height: 792px;
    text-align: center; }
    body .s_shop_wrap .s_new-recommend-list .s_new-recommend-list-cen {
      width: 1220px;
      height: 792px;
      margin: 0 auto;
      text-align: center;
      box-sizing: border-box;
      padding-bottom: 60px; }
      body .s_shop_wrap .s_new-recommend-list .s_new-recommend-list-cen .s_col_goods {
        float: left;
        text-align: center;
        width: 240px;
        height: 397px; }
        body .s_shop_wrap .s_new-recommend-list .s_new-recommend-list-cen .s_col_goods .s_col_img {
          width: 220px;
          height: 220px; }
        body .s_shop_wrap .s_new-recommend-list .s_new-recommend-list-cen .s_col_goods h2 {
          font-size: 14px;
          font-weight: normal;
          margin-top: 10px; }
        body .s_shop_wrap .s_new-recommend-list .s_new-recommend-list-cen .s_col_goods p {
          margin-top: 30px; }
      body .s_shop_wrap .s_new-recommend-list .s_new-recommend-list-cen .a_shoppcart {
        display: inline-block;
        width: 180px;
        height: 30px;
        line-height: 30px;
        color: white;
        background: #1428A0; }
  body .s_shop_wrap .s_section {
    height: 104px; }
    body .s_shop_wrap .s_section .s_section_cen {
      width: 1220px;
      height: 104px;
      margin: 0 auto;
      border-top: 1px solid #e5e5e5; }
      body .s_shop_wrap .s_section .s_section_cen .s_payment-list {
        width: 736px;
        height: 103px;
        text-align: center;
        margin: 22px 0 25px;
        float: left;
        box-sizing: border-box; }
        body .s_shop_wrap .s_section .s_section_cen .s_payment-list ul {
          text-align: center; }
          body .s_shop_wrap .s_section .s_section_cen .s_payment-list ul li {
            width: 99px;
            height: 39px;
            display: inline-block;
            text-align: center;
            border: 1px solid #dcdcdc;
            border-radius: 3px; }
            body .s_shop_wrap .s_section .s_section_cen .s_payment-list ul li img {
              width: 97px;
              height: 37px;
              vertical-align: middle; }
          body .s_shop_wrap .s_section .s_section_cen .s_payment-list ul .s_isHide {
            width: 99px;
            height: 39px;
            display: inline-block;
            text-align: center;
            border: 1px solid #dcdcdc;
            border-radius: 3px;
            margin-left: 20px;
            margin-top: 20px; }
            body .s_shop_wrap .s_section .s_section_cen .s_payment-list ul .s_isHide img {
              width: 97px;
              height: 37px;
              vertical-align: middle; }
      body .s_shop_wrap .s_section .s_section_cen .s_payment-list_right {
        width: 483px;
        height: 102px;
        text-align: center;
        float: right;
        border-left: 1px solid #dcdcdc; }
        body .s_shop_wrap .s_section .s_section_cen .s_payment-list_right .s_bom {
          margin-top: 20px; }
        body .s_shop_wrap .s_section .s_section_cen .s_payment-list_right ul .s_ul_img {
          width: 99px;
          height: 39px;
          display: inline-block;
          border: 1px solid #dcdcdc;
          border-radius: 3px;
          vertical-align: middle;
          margin-top: 15px; }
          body .s_shop_wrap .s_section .s_section_cen .s_payment-list_right ul .s_ul_img img {
            width: 97px;
            height: 37px;
            vertical-align: middle; }
