body,html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#wrap {
<<<<<<< HEAD
  width: 1898px;
  margin: 0 auto;
  min-height: 110px;
  overflow: hidden;
=======
  min-width: 1898px;
  height: 100%;
>>>>>>> ba689974a4e224372e044956c93efe248811c965

  #header {
    .top {
      width: 1898px;
      background: #efefef;
      height: 30px;
      border-bottom: 1px solid #dadada;
      position: relative;
      p {
        line-height: 30px;
        height: 100%;
        position: absolute;
        right: 36px;
        font-size: 17px;
        color: #9d9b9b;
      }
    }
    .nav {
      width: 1898px;
      height: 80px;
      border-bottom: #9d9b9b 1px solid;
      position: relative;
      &:hover .nav_nav {
        display: block;
      }
      .nav_nav {
        width: 1898px;
        position: absolute;
        height: 400px;
        top: 80px;
        background: #ffffff;
        display: none;
        z-index: 10;
        overflow: hidden;
        box-sizing: border-box;
        padding-left: 80px;

        ul {
          float: left;
          width: 350px;
          height: 100%;
          margin-top: 43px;
          h2 {
            font-size: 19px;
            margin-bottom: 27px;
            &:hover {
              color: #162d9a !important;
            }
          }
          li {
            margin-bottom: 22px;
            a {
              font-size: 14px;
              color: #585858;
              &:hover {
                color: #162d9a !important;
                text-decoration: underline;
              }
            }
          }
        }
      }
      .nav_l {
        margin-left: 80px;
        overflow: hidden;
        height: 100%;
        li {
          margin-right: 30px;
          float: left;
          height: 100%;
          a {
            color: #000000;
            font-size: 17px;
            font-weight: 800;
            line-height: 80px;
            position: relative;
            &:hover {
              color: #162d9a;
            }
          }
        }
      }
      #logo {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -75px;
        margin-top: -12px;
        img {
          height: 24px;
          width: 150px;
        }
      }
      .nav_r {
        margin-right: 80px;
        overflow: hidden;
        height: 100%;
        li {
          margin-left: 30px;
          float: left;
          height: 100%;
          a {
            color: #000000;
            font-size: 17px;
            font-weight: 800;
            line-height: 80px;
            position: relative;
            &:hover {
              color: #162d9a;
            }
          }
        }
        #zoom {
          font-size: 25px !important;
        }
      }
    }
  }
  #content {
    min-width: 1898px;
    min-height: 695px;
    position: relative;
    #progress {
      // position: absolute;
      // height: 2px;
      // width: 865px;
      // left: 452px;
      // top: 668px;
      span {
        background: #000000 !important;
      }
    }

    #banner {
      width: 1802px;
      height: 695px;
      margin: 0 auto 80px;
      position: relative;
      .swiper-button-prev {
        display: block;
        position: absolute;
        left: 16px;
        bottom: 312px;
        z-index: 8;
        i {
          font-size: 72px;
        }
      }
      .swiper-button-next {
        display: block;
        position: absolute;
        right: 55px;
        bottom: 312px;
        z-index: 8;
        i {
          font-size: 72px;
        }
      }
      ul {
        width: 100%;
        height: 100%;

        li {
          position: relative;
          .bt_l {
            position: absolute;
            top: 244px;
            left: 180px;
            h2 {
              font-size: 58px;
              color: #000000;
              margin-bottom: 41px;
              font-family: SamsungSharpSans;
            }
            p {
              font-size: 22px;
              color: #2f0000;
            }
          }
          .more {
            position: absolute;
            left: 178px;
            bottom: 248px;
            font-size: 16px;
            color: #555555;
            text-decoration: underline;
            font-weight: 800;
          }
          .p_now {
            position: absolute;
            width: 178px;
            height: 50px;
            left: 298px;
            bottom: 232px;
            border-radius: 20px;
            border: 1px solid #6a6a6a;
            text-align: center;
            color: #555555;
            line-height: 50px;
            font-weight: 800;
            &:hover {
              color: #efefef;
              background: #787878;
            }
          }
          .bt_r {
            position: absolute;
            right: 240px;
            top: 246px;
            h2 {
              font-size: 58px;
              color: #000000;
              margin-bottom: 41px;
              font-family: SamsungSharpSans;
            }
            p {
              font-size: 22px;
              color: #2f0000;
            }
          }
          .r_more {
            position: absolute;
            right: 638px;
            top: 429px;
            font-size: 16px;
            color: #555555;
            text-decoration: underline;
            font-weight: 800;
          }
          .r_p_now {
            position: absolute;
            width: 178px;
            height: 50px;
            right: 418px;
            top: 412px;
            border-radius: 20px;
            border: 1px solid #6a6a6a;
            text-align: center;
            color: #555555;
            line-height: 50px;
            font-weight: 800;
            &:hover {
              color: #efefef;
              background: #787878;
            }
          }
        }
        @for $i from 1 through 5 {
          .item-#{$i} {
            display: block;
            background: url(../img/indeximg/banner#{$i}.jpg) no-repeat center;
            background-size: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    #product {
      width: 1898px;
      margin: 0 auto;
      height: 448px;
      padding: 0 18px;

      h2 {
        width: 100%;
        height: 76px;
        line-height: 76px;
        font-size: 38px;
        color: #000000;
        text-align: center;
      }
      ul {
        width: 100%;
        height: 322px;
        overflow: hidden;

        li {
          margin-left: 30px;
          float: left;
          width: 580px;
          height: 322px;
          overflow: hidden;
          position: relative;
          &:hover a {
            transform: scale(1.2, 1.2);
            transition: all 0.5s linear;
          }
          &:hover img {
            background-color: rgba(255, 255, 255, 0.9);
            transition: all 0.5s linear;
          }
          img {
            width: 107px;
            height: 107px;
            border-radius: 50%;
            position: absolute;
            top: 100px;
            left: 221.5px;
            z-index: 4;
          }
          @for $i from 1 through 3 {
            .pro_pic-#{$i} {
              background: url(../img/indeximg/product#{$i}.jpg) no-repeat center;
              // width: 580px;
              // height: 322px;
              background-size: cover;
            }
          }
          a {
            width: 100%;
            height: 100%;
            position: relative;
            display: block;

            & :first-child {
              width: 580px;
              height: 322px;
            }
          }
        }
      }
    }
<<<<<<< HEAD
  }
}
#eve {
  width: 1898px;
  height: 1149px;
  margin: 0 auto;
  position: relative;
  .eve_nav {
    width: 1898px;
    height: 128px;
    text-align: center;
    a {
      color: #949494;
      font-size: 38px;
      line-height: 128px;
      margin-right: 61px;
      position: relative;
      cursor: pointer !important;
      &:hover {
        color: #000000;
        cursor: pointer;
      }
      &:visited {
        color: #000000;
        cursor: pointer;
      }
    }
  }
  .eve_swiper {
    width: 5694px;
    margin: 0 auto;
    overflow: hidden;
    height: 1022px;
    position: absolute;
    left: 0;
    top: 128px;
    .eve_b {
      width: 1898px;
      height: 1022px;
      overflow: hidden;
      padding: 0 18px;
      float: left;
      box-sizing: border-box;
      .eve_b_left {
        width: 885px;
        height: 955px;
        margin-left: 32px;
        overflow: hidden;
        position: relative;
        &:hover {
          box-shadow: 0px -5px 22px #bfbfbf;
          transition: all 1s linear;
          & div p {
            display: none;
          }
          & div a {
            display: block;
            transition: all 0.5s linear;
            animation: goup 0.4s;
            &:hover {
              background: #fff;
              color: #555555;
              font-weight: 800;
            }
          }
        }
        #eve_banner {
=======
    #eve {
      width: 5694px;
      height: 1149px;
      margin: 0 auto;
      position: relative;
      .eve_nav {
        width: 1898px;
        height: 128px;
        text-align: center;
        margin: 0 auto
        a{
          color: #949494;
          font-size: 38px;
          line-height: 128px;
          margin-right: 61px;
          // &:hover {
          //   color: #000000;
          // }
          // &:visited {
          //   color: #000000;
          // }
        }
      }
      .eve_b {
        width: 100%;
        height: 1022px;
        overflow: hidden;
        padding: 0 18px;
        margin: 0 auto;
        position: absolute;
        top: 128px;
        left: 0;
        .eve_b_left {
          background: url(../img/indeximg/eventBanner.jpg) no-repeat center;
          background-size: cover;
>>>>>>> ba689974a4e224372e044956c93efe248811c965
          width: 885px;
          height: 955px;
          // background: url(../img/indeximg/eventBanner.jpg) no-repeat center;
          background-size: cover;
          display: block !important;
          overflow: hidden !important;
          &:hover {
            transform: scale(1.1, 1.1);
            transition: all 0.5s linear;
          }
        }
        div {
          width: 280px;
          height: 140px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 0 auto;
          span {
            width: 100%;
            font-size: 34px;
            color: #ffffff;
            font-weight: 800;
            text-align: center;
          }
          p {
            width: 100%;
            font-size: 14px;
            margin-top: 14px;
            color: #fff;
            text-align: center;
            display: block;
          }
          a {
            width: 180px;
            height: 50px;
            margin: 0 auto;
            display: block;
            border: 1px solid #ffffff;
            border-radius: 25px;
            text-align: center;
            color: #ffffff;
            line-height: 50px;
            margin-top: 18px;
            display: none;
          }
        }
      }
      .eve_b_right {
        width: 945px;
        height: 100%;
        ul {
          width: 100%;
          height: 100%;
          overflow: hidden;
          @for $i from 1 through 4 {
            .evef-#{$i} {
              display: block;
              background: url(../img/indeximg/eve#{$i}f.png) no-repeat center;
              background-size: 321px 235px;
              background-color: #f7f7f7;
              background-position: 53px 60px;
              width: 427.5px;
              height: 462px;
              margin-left: 30px;
            }
            .evef-#{$i}:hover {
              transition: all 0.4s linear;
              background: url(../img/indeximg/eve#{$i}b.png) no-repeat center;
              background-size: 321px 235px;
              box-shadow: 0px 0px 12px #ccc;
              background-color: #ffffff;
              background-position: 53px 60px;
            }
          }
          li {
            text-align: center;
            margin-bottom: 30px;
            &:hover span {
              display: none !important;
            }
            &:hover a {
              display: block !important;
              animation: goup 0.4s;
            }
            p {
              font-size: 17px;
              color: #000000;
              margin: 339px 0 19px;
              width: 100%;
              text-align: center;
              font-weight: 800;
            }
            span {
              width: 100%;
              font-size: 17px;
              color: #000000;
            }
            a {
              display: block;
              width: 180px;
              height: 50px;
              margin: 0 auto;
              border: 1px solid #555555;
              border-radius: 25px;
              text-align: center;
              color: #555555;
              line-height: 50px;
              margin-top: 18px;
              display: none;
              z-index: 10;
              &:hover {
                background-color: #555555;
                color: #fff;
              }
            }
          }
        }
      }
    }
<<<<<<< HEAD
    .eve_b_rec {
      .eve_b_left {
        width: 885px;
        height: 955px;
        margin-left: 32px;
        #rec_banner {
          width: 100%;
          height: 100%;
          // background: url(../img/indeximg/recBanner.jpg) no-repeat center;
          background-size: cover !important;
          display: block;
          &:hover {
            transform: scale(1.1, 1.1);
            transition: all 0.5s linear;
          }
        }
        div {
          span {
            color: #000000 !important;
          }
          p {
            color: #000000 !important;
          }
          a {
            color: #797979;
            border-color: #797979;
            &:hover {
              background-color: #555555 !important;
              color: #fff !important;
            }
          }
        }
=======
    #search {
      width: 1898px;
      height: 260px;
      text-align: center;
      border-bottom: 1px solid #d0d0d0;
      h2 {
        height: 105px;
        line-height: 105px;
        font-size: 31px;
        font-weight: 800;
>>>>>>> ba689974a4e224372e044956c93efe248811c965
      }
      .eve_b_right {
        @for $i from 1 through 4 {
          .evef-#{$i} {
            background: url(../img/indeximg/rec#{$i}.png) no-repeat center !important;
            background-size: 321px 235px !important;
            background-color: #f7f7f7 !important;
            background-position: 53px 60px !important;
          }
          .evef-#{$i}:hover {
            transition: all 0.1s linear;
            background: url(../img/indeximg/recPro#{$i}.png) no-repeat center !important;
            background-size: 321px 235px !important;
            background-color: #ffffff !important;
            background-position: 53px 60px !important;
          }
        }
      }
    }
    .eve_b_pro {
      .eve_b_left {
        #eve_pro_banner {
          width: 100%;
          height: 100%;
          // background: url(../img/indeximg/wellsoldBanner.jpg) no-repeat center;
          background-size: cover !important;
          display: block;
          &:hover {
            transform: scale(1.1, 1.1);
            transition: all 0.5s linear;
          }
        }
      }
      .eve_b_right {
        @for $i from 1 through 4 {
          .evef-#{$i} {
            background: url(../img/indeximg/wsold#{$i}.png) no-repeat center !important;
            background-size: 321px 235px !important;
            background-color: #f7f7f7 !important;
            background-position: 53px 60px !important;
          }
          .evef-#{$i}:hover {
            transition: all 0.1s linear;
            background: url(../img/indeximg/wsoldPro#{$i}.png) no-repeat center !important;
            background-size: 321px 235px !important;
            background-color: #ffffff !important;
            background-position: 53px 60px !important;
          }
        }
      }
    }
<<<<<<< HEAD
  }
}
#search {
  width: 100%;
  height: 260px;
  text-align: center;
  border-bottom: 1px solid #d0d0d0;
  h2 {
    height: 105px;
    line-height: 105px;
    font-size: 31px;
    font-weight: 800;
  }
  .input {
    overflow: hidden;
    width: 1064px;
    margin: 0 auto;
    border-bottom: 2px solid #000;
    .ipt {
      width: 984px;
      height: 57px;
      border: 2px solid #ffffff;
=======
    #explain {
      height: 112px;
      width: 1898px;;
      border-bottom: 1px solid #d0d0d0;
      padding: 30px 0;
      background: #f7f7f7;
>>>>>>> ba689974a4e224372e044956c93efe248811c965
      box-sizing: border-box;
      padding-left: 37px;
      line-height: 53px;
      color: #6d6363;
      font-size: 18px;
      // outline: auto!important;
    }
    .sub {
      width: 47px;
      height: 37px;
      border: 0;
      margin-top: 16px;
      i {
        font-size: 33px;
      }
    }
  }
<<<<<<< HEAD
}
#explain {
  height: 112px;
  width: 100%;
  border-bottom: 1px solid #d0d0d0;
  padding: 30px 0;
  background: #f7f7f7;
  box-sizing: border-box;
  p {
    height: 100%;
    margin-left: 200px;
    color: #363636;
    font-size: 15px;
    display: inline-block;
  }
}
#copyright {
  width: 100%;
  height: 452px;
  background: #f5f5f5;
  box-sizing: border-box;
  padding: 87px 0 0 80px;
  position: relative;
  .backtotop {
    position: absolute;
    top: 32px;
    right: 79px;
    width: 120px;

    overflow: hidden;
    a {
      font-size: 13px;
      margin-right: 14px;
      float: left;
    }
    &:nth-child(2) {
      .bctop {
        font-size: 11px !important;
        float: right;
=======
  #copyright {
    width: 1898px;
    height: 452px;
    background: #f5f5f5;
    box-sizing: border-box;
    padding: 87px 0 0 80px;
    position: relative;
    .backtotop {
      position: absolute;
      top: 32px;
      right: 79px;
      a{
        font-size: 13px;
        margin-right: 14px;
      }
      &:nth-child(2){
        .bctop{
          font-size: 11px !important;
        }
>>>>>>> ba689974a4e224372e044956c93efe248811c965
      }
    }
  }
  .cp_top {
    height: 251px;
    width: 100%;
    overflow: hidden;
    ul {
      float: left;
      h3 {
        font-size: 17px;
        color: #212428;
        margin-bottom: 28px;
      }
      li {
        width: 348px;
        font-size: 17px;
        a {
          font-size: 14px;
          color: #212428;
          margin-bottom: 16px;
        }
      }
    }
  }
  .cp_bottom {
    height: 110px;
    p {
      font-size: 14px;
    }
  }
}
#footer {
  background: #525252;
  height: 75px;
  line-height: 75px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 80px;
  position: relative;
  a {
    font-weight: 800;
    font-size: 15px;
    margin-right: 32px;
    color: #ffffff;
    &:hover{
      text-decoration: underline;
    }
  }
  .share {
    position: absolute;
    top: 0;
    right: 0;
    background: #525252;
    width: 253px;
    height: 75px;
<<<<<<< HEAD
    overflow: hidden;
    p {
      float: left;
      color: #ffffff;
      display: inline-block;
=======
    line-height: 75px;
    width: 1898px;
    box-sizing: border-box;
    padding-left: 80px;
    position: relative;
    margin: 0 auto;
    a {
>>>>>>> ba689974a4e224372e044956c93efe248811c965
      font-weight: 800;
      height: 75px;
      line-height: 75px;
      font-size: 15px;
      margin-right: 10px;
    }
    a {
      float: left;
      margin-right: 0 !important;
      #wechat {
        font-size: 43px;
        color: #ffffff;
        text-align: center;
        margin-right: 13px;
        float: left;
      }
      #weibo {
        font-size: 43px;
        color: #ffffff;
        float: left;
      }
    }
  }
  .z_btn {
    width: 72px;
    height: 72px;
    text-align: center;
    background-color: rgba(115, 115, 115, 0.8);
    position: fixed;
    right: 60px;
    bottom: 30px;
    display: none;
    cursor: pointer;
    i {
      font-size: 44px;
      color: #fafafa;
    }
  }
}
@-webkit-keyframes goup {
  from {
    margin-top: 40px;
  }
  to {
    margin-top: 18px;
  }
}
@-webkit-keyframes eveup {
  from {
    margin-top: 60px;
  }
  to {
    margin-top: 0;
  }
}
