body,ul,ol,dl,li,dd,dt,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,select,img,option,p,a,figure,nav
section,header,aside,div{margin: 0;padding: 0}
/* *{margin: 0;padding: 0} */
a{text-decoration: none;color: #000;}
ul li,ol li{list-style: none;}
i,em{font-style: normal}
img{border: none;vertical-align: top;}
input{outline: none}
.clear::after{content:"";overflow: hidden;visibility:hidden;clear:both;display:block;font-size:1px;height: 0;}
/* .clear{display: block;overflow:hidden;} */
.fl{float: left;}
.fr{float: right;}
